/* CUSTOM STYLES FOR CHOSEN */


.chosen-container.chosen-container-single {
    width: 32.66% !important;
    display: inline-block;
    margin-bottom: 5px;
    font-size: .7rem;
}

.chosen-container.chosen-container-single:not(:last-of-type) {
    margin-right: 1%;
}

@media screen and (max-width: 600px) {
    .chosen-container.chosen-container-single {
        width: 100% !important;
        display: block;
    }
    .chosen-container.chosen-container-single:not(:last-of-type) {
        margin-right: 0 !important;
    }
}

.chosen-container-single .chosen-single {
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    font-weight: 600;
}

.chosen-container-single.chosen-with-drop .chosen-single {
    background-image: none !important;
    box-shadow: none;
    border-bottom: none;
}

.chosen-drop {
    box-shadow: 0 10px 20px rgba(0,0,0,.1) !important;
    overflow: hidden;
}

.chosen-search-input {
    border: none !important;
    background-color: #f3f3f3 !important;
    padding: 5px 20px 5px 6px !important;
}

.chosen-container-single ul {
    font-size: .7rem !important;
}

.chosen-results {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.chosen-results li {
    padding: 5px 15px !important;
    margin-bottom: 0 !important;
}

.chosen-results li.highlighted {
    background-image: none !important;
    color: #fff !important;
}