/* ===== PROGRAM FINDER ===== */

#program-finder {

    width: 100vw;
    margin-left: -25px;
    background: #f3f3f3;
    overflow: hidden;
    border: 1px solid #ddd;

    .has-js {

      .keyword-search,
      .facets {
        padding: 1.5rem 25px;
      }

      .keyword-search {
        background: #fff;
      }

      #search-programs {

        padding: .8rem .5rem;
        font-size: 1.2rem;
        line-height: 2rem;
        display: block;
        width: 100%;
        clear: both;
        box-shadow: none !important;
        box-sizing: border-box;
        border: 1px solid #01abff;
        color: #007AB8;
        border-radius: 4px;
        margin-bottom: 10px;

        &:focus {
            color: #005ebc;
            box-shadow: 0 .2rem .5rem rgba(0,0,0,.2);
        }

      }

      label {
        width: 100%;
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
      }

      label>span {
          display: block;
          margin-bottom: 6px;
          font-size: .75rem;
          color: #555;
      }

      #js-form-reset {

          background: #fff;
          width: 100%;
          float: none;
          color: #888;
          font-weight: 600;
          padding: 1rem 0;
          font-size: 1rem;
          line-height: 1.5rem;
          text-align: center;
          border: 1px solid #eee;
          border-radius: 4px;
          box-shadow: none;
          cursor: pointer;
          position: relative;
          top: 0;
          transition: all .1s ease-in-out;

          &:hover,
          &:focus {
              background: #f3f3f3;
          }

      }

    }

}


@media all and (min-width: 600px) {
    #program-finder {

      border-radius: .4rem;
      width: 100%;
      margin-left: 0;

      .has-js {

        .keyword-search,
        .facets {
          padding: 1rem;
        }

        label {
            display: inline-block;
            width: 32%;
            margin-bottom: 0;
        }

        label:not(:last-of-type) {
            margin-right: 2%;
        }

        #search-programs {
            margin-bottom: 0;
            padding: 1rem;
            width: 80%;
            display: inline-block;
        }

        #js-form-reset {
            float: right;
            width: 18%;
            font-size: 1.2rem;
            line-height: 2rem;
        }

      }

    }
}

@keyframes loading {
    from    {transform: rotate(0);}
    to      {transform: rotate(360deg);}
}

#program-status {

    font-size: 1.2rem;
    line-height: 30px;
    padding: 2rem 0;

    &:after {
        clear: both;
        display: block;
        content:'';
    }

    &.results {
        color: #000;
    }

    &.empty {
        color: #999;
    }

    &.loading {
        color: #3875d7;
    }

    &.error {
        color: #999;
    }

    &.loading {

      .spinner {

          position: relative;
          float: left;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background: linear-gradient(135deg, #ddd 70%, #3875d7 70%);
          animation: loading .8s infinite linear;

          span {
              background: #f8f8f8;
              display: block;
              width: 80%;
              height: 80%;
              position: relative;
              top: 10%;
              left: 10%;
              border-radius: 50%;
          }

      }

      div {
          height: 30px;
          line-height: 30px;
          margin-left: 20px;
          float: left;
      }

    }

}

#program-results {

  .cl-card {

      margin-top: 2%;

      .badges {

          position: absolute;
          display: block;
          z-index: 2;
          margin: 0;
          padding: 30px 1rem 0;
          width: 100%;
          height: 60px;
          box-sizing: border-box;
          transform: translateY(-60px);
          background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.5) 70%);

          &:after {
            display: block;
            content: '';
            clear: both;
          }

          li {

              display: block;
              height: 20px;
              line-height: 20px;
              float: left;
              text-align: center;
              font-size: .7rem;
              font-weight: 600;
              margin-right: 4px;
              margin-bottom: 0 !important;
              padding: 0 4px 0 8px;
              color: #fff;

              &.program-type:not(:first-of-type) {
                border-left: 1px solid rgba(255,255,255,.5);
              }

              &.icon {

                overflow: hidden;
                width: 0;
                padding-left: 16px;
                height: 16px;
                transform: translateY(2px);
                padding-right: 0;
                margin-right: 8px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% auto;

                &:first-child {
                  margin-left: 8px;
                }

                &.acc {
                  background-image: url( '../i/accelerated.png' );
                }

                &.online {
                  background-image: url( '../i/online.png' );
                }

              }

          }

      }

  }

}

.featured-image.sc.program {
    display: block;
    float: right;
    width: 250px;
    margin-right: 50px;
    margin-left: 30px;
}

.featured-image.sc.program img {
    border-radius: 2px;
}

@media all and (max-width: 480px) {
    .featured-image.sc.program {
        float: none;
        width: 100%;
        margin: 15px 0;
    }
}
